<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List Foods
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content color="light">
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>Nasi Kuning</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Bubur Ayam</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Gudeg</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ayam Geprek</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Soto</ion-label>
    </ion-item>
  </ion-list>
</ion-content>


